<div class="Navbar">
   <div class="Navbar__Link Navbar__Link-brand">
      <a class="navbar-brand" href="{% url 'fleet:index' %}">Fleet MS</a>
    </div>
    <div class="Navbar__Link Navbar__Link-toggle">
      <i class="fas fa-bars"></i>
    </div>
    {% if user.is_authenticated %}
  <nav class="Navbar__Items">
    <div class="Navbar__Link">

      <a  href="{% url 'fleet:logout' %}">Logout</a>
    </div>
        {% if user.roles == 'sacco' %}
    <div class="Navbar__Link">

      <a  href="">{{user.sacco.name.capitalize}}</a>
    </div>
    {%else%}
    <div class="Navbar__Link">

      <a  href="">{{user.first_name.capitalize}} {{user.last_name.capitalize}}</a>
    </div>
    {% endif %}

  </nav>
      {% else %}
  <nav class="Navbar__Items Navbar__Items--right">
    <div class="Navbar__Link">

      <a  href="{% url 'fleet:select' %}">Signup</a>
    </div>
    <div class="Navbar__Link">

      <a  href="{% url 'fleet:loginViews' %}">Login</a>
    </div>
    {% endif %}
  </nav>
</div>
