@import "static/fonts/kingcross/stylesheet.css";
/* ABDULL-AIS SPECIAL COCKTAIL SAUCE */
body {
  background-color: #242582
}

/* NAVBAR */
#kings {
}
.Navbar {
  background-color: #2f2fa2;
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: white;

}

.Navbar__Link {
  padding-right: 8px;

}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left: auto;
}

.Navbar__Link-toggle {
  display: none;
}

.navbar-brand {
  font-size: 60px;
  font-weight: bolder;
  text-shadow: 1px 1px 1px white;
  border-radius: 1%;
  padding-top: 3vh;
  font-family: 'kings_crossregular';
}

@media only screen and (max-width: 600px) {
  .container {
    width: 50%;
  }
  .Navbar {
    text-align: center;
  }
  .Navbar__Items, .Navbar {
    flex-direction: column;
  }
  .Navbar__Items {
    display: none;
  }
  .Navbar__Items--right {
    margin-left: 0;
  }
  .Navbar__ToggleShow {
    display: flex;
  }
  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
  .navbar-brand {
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px white;
    border-radius: 1%;
    padding-left: 12vw;
  }
}

/* BANNER */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Navbar__Link {
    padding: 0em 4em 1em 1em;
    margin: -2em 0em 0em 0em;
  }

  #kings {
    height: 4vh;
    width: 15vh;
  }

  #banner p {
  font-size: 6vh;
  color: aliceblue;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.banner {
  width: 100%;
  height: 20%;
}

.banner img {
  height: 100%;
  width: 100%;
}

}

/* TOO HOT */

#banner p {
  font-size: 6vh;
  color: aliceblue;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.banner {
  width: 100%;
  height: 20%;
}

.banner img {
  height: 100%;
  width: 100%;
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .banner {
    height: 50vh;
  }
  /* CHOICES */
  .floater {
    margin-top: 2vh;

  }
  .floater.jumbotron a{
    color: white;

  }
}

/* BUTTON STYLES */

.btn {
  font-size: 0.875em;
  display: block;
  left: -60px;
  margin-top: 35px;
  width: 100%;
}

.jumbotron {
  top: 50%;
  text-align: center;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  .btn {
    font-size: 1.875em;
    display: block;
    left: -60px;
    margin-top: 35px;
    width: 100%;
    line-height: 21px;
    height: 5vh;
  }
  #banner p {
    font-size: 21px;
    color: aliceblue;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
    position: relative;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -200%);
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
