{%extends 'sacco/all/base.html'%}
{% block content %}

<div class="details">


      <h2>Sacco Details</h2>
      <h3>Name: {{profile.name|upper}}</h3>
      <h3>Registration number: {{profile.registration_no}}</h3>
      <h3>Office location: {{profile.office_location}}</h3>
      <h3>Tel number: {{profile.office_telephone}}</h3>
      <h3>Email: {{profile.office_email}}</h3>
      <h3>Additional Details: {{profile.details}}</h3>

  </div>
<h1 style="position: fixed; text-align: center; margin-left: 30vw; font-size: 200px; margin-top: -30vh; text-shadow: 1px 1px gray; word-wrap: no wrap;">Welcome to {{ sacco.name }}</h1>

{% endblock %}
