{% extends "fleet_base/base.html" %}


{% load staticfiles %}

{% block css_main %}

<link href="{% static "fonts.css" %}" rel="stylesheet" type="text/css" media="all" />


{% endblock %}
{% block content %}




</div>
<div>
  <div>
    <h1>FleetMS</h1>
  </div>
    <div><a href="{% url 'fleet:sacco-signup' %}" >Sacco</a></div>

        <div ><a href="{% url 'fleet:owner-signup' %}">Owner</a></div>

        <div><a href="{% url 'fleet:sup-signup' %}">Supervisor</a></div>
<div >
  <div >
    <h1>New approach to an old system</h1>
    <h4>Easily manage your your fleet of matatus as an owner, supervisor or sacco.</h4>
  </div>
  <div >
    <h1>Join our community</h1>
    <div >
      <img src="" alt="happy-customer" >
    </div>
    <h4>This website changed my life!</h4>
    <h6>-Abdullahi Abdullahi; Owner</h6>
    <a href="{% url 'fleet:select' %}"><h5>Join now!</h6></a>
    </div>
  </div>


</div>
{% endblock %}
