{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700" rel="stylesheet" />

  {% if title %}
  <title>Fleet MS - {{title}}</title>
  {% else %}
    <title> Fleet MS </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
     {% endblock %}

</head>

  {% block icon %}
  {% endblock %}
  {% block css_main %}
  {% endblock %}
    {% block content %}
     {%endblock%}

    {% block scripts %}
        {% bootstrap_javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% endblock %}

</body>
</html>
